*,
::before
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}




/** Making of layout **/
.container{
    position: relative;
    width: 90%;
    max-width: 960px;
    height: 600px;
    background-color: #f5f5f5;
    box-shadow: 0, 0, 1em, #e5e5e5;
    font-family: sans-serif;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

/*aside{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: #097969;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}*/

/* common class 'form' given to both sign-up and sign-in form */

.form {
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h2{
    font-size: 2.5rem;
    margin-bottom: 1em;
    color: #097969;
}

/* element form */

form {
    width: 75%;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 0.5em;
    font-size: 1.05rem;
}

input{
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #e6e6e6;
}

button{
    text-transform: uppercase;
    align-self: center;
    font-size: 1.05rem;
    padding: 1em 3.5em;
    border-radius: 2em;
    background-color: #097969;
    color:#fff ;
    cursor: pointer;
}

main button{
    border: none;
    margin: 1.5rem 0;
}

/* styling of aside blocks */
aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: #097969;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}


aside div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

aside h2 {
    font-size: 1.75rem;
    color: #fff;

}

aside button{
    border: 2px solid #fff;
}

/* initially sign-in form & sing-up block are not shown */
main .signIn-form,
aside .sign-up-block {
    display: none;
}

/* 'slideRight' class will be added on button click */
main.slideRight {
    left: 100%;
    transform: translateX(-100%);
}

/* 'slideLeft' class will be added on button click */
aside.slideLeft {
    right: 100%;
    transform: translateX(100%);
}

/* displaying sign-in form and sign-up block when button is clicked */
main.slideRight .signIn-form,
aside.slideLeft .sign-up-block {
    display: flex;
}

/* hidding sign-up form and sign-in block on button click */
main.slideRight .signUp-form,
aside.slideLeft .sign-in-block {
    display: none;
}

/* mobile */
@media (max-width: 424px) {
    html {
        font-size: 12px;

    }

    .container{
        margin: 150px 0;
    }
    
    main,
    aside {
        width: 100%;
    }

    main {
        height: 70%;
        top: 0;
        left: 0;
    }

    aside {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
        height: 30%;
    }

    main.slideRight {
        top: 100%;
        left: 0;
        transform: translate(0, -100%);
    }

    aside.slideLeft {
        top: 0;
        transform: translateY(0);
    }
}

